    body{
        font-family: 'Arial', sans-serif;
        background-color: #819194;
        color: #0000;
        line-height: 1.8;
        margin: 0;
        padding: 20px;
    }
    body {
    background-image: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExbWhuZ3phOHIwbTB6ZW8wZzRuNzRicGc5M25laGswOGo1d211OGx1YSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3osxYoufeOGOA7xiX6/giphy.gif'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed;
    }
    
    body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0ffff;
    color: #005f5f;
    margin: 0;
    padding: 0;
    text-align: center;
    

}

header{
    background-color: #912ebe;
    color: white;
    padding: 20px;
    font-size: 0.5rem;

}

nav{
    background-color: #690851;
    padding: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    font-weight: bold;
    transition: 0.3s;

}

nav a:hover{
    background-color: #008888;
    border-radius: 5px;
}